<mat-nav-list>
  <div *ngFor="let item of menuItems">

    <mat-list-item *ngIf="!item.children" [class.active]="activeItem == '/'+item.route">
      <a class="w-100 h-100 d-flex align-items-center" (click)="onSelectItem(item)">
        <span class="icon-holder mr-3">
          <mat-icon>{{item.icon}}</mat-icon>
        </span>
        <span>{{item.title}}</span>
      </a>
      <span *ngIf="item.children">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </span>
    </mat-list-item>


    <accordion-item *ngIf="item.children" [item]="item" [activeItem]="activatedUrl" (onSelect)="onSelectItem($event)"></accordion-item>
  </div>

</mat-nav-list>
