.coord-inputs {
    background-color: #f3f3f3;
    padding: 8px;
    border-radius: 3px;
    margin: 8px 0;

    .mat-form-field {
        width: 48%;
        padding: 7px;
        background-color: #fff;
    }
}