    <form #loginForm="ngForm"  class="h-100"  (ngSubmit)="resetPassword($event)" [hidden]="isSubmitting || requestStatus == 'success' ">
      <div class="d-flex flex-column h-100">
        <div *ngIf="requestStatus == 'invalid email'" class="row py-2 justify-content-center align-items-center">
            <h4 class="text-danger"> This username is not linked to any account </h4>
        </div>
        <mat-form-field appearance="outline" [floatLabel]="'always'">
            <mat-label>Username / Email</mat-label>
              <input matInput [(ngModel)]="user.email" (ngModelChange)="requestStatus=null" placeholder="{{'universals.email' | translate}}"
                type="text" name="email" #email="ngModel" [pattern]="validationSer.patterns.email" required>
            </mat-form-field>
            <form-validation [name]="email" [errorMessages]="{'pattern':'Please enter a valid email address'}">
            </form-validation>
        <div class="d-flex justify-content-between">
            <button type="submit" class="ml-auto" [disabled]="loginForm.form.invalid" mat-raised-button color="accent">
                Reset Password
              </button>
        </div>
    <div class="flex-spacer"></div>
    <a mat-button [routerLink]="['application/public/login']"> <mat-icon>arrow_back</mat-icon> {{'signup.back' | translate}}</a>
      </div>
    </form>
    
    <div class="row text-xs-center justify-content-center align-items-center my-2 mx-2" *ngIf="isSubmitting">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>


    <div class="row text-xs-center justify-content-center align-items-center my-2 mx-2" *ngIf="requestStatus == 'success'">
      <div class="col">
        <mat-icon class="success success-icon" >check_circle_outline</mat-icon>
        <h2 class="success">Password Reset Submitted , please check your email to reset you password</h2>
      </div>
    </div>
