<div class="logo mb-5">ngStarter</div>


<mat-card class="text-center p-5">
  <mat-card-content>
    <form #resetPassForm="ngForm" (ngSubmit)="updatePassword()" [hidden]="isSubmitting" [formGroup]="form">
      <div class="container">

        <!-- <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <mat-form-field>
              <input matInput [(ngModel)]="user.email" placeholder="Email Address" type="email" name="email" #email="ngModel"
                [pattern]="validationSer.patterns.email" required>
            </mat-form-field>
            <form-validation [name]="email" [errorMessages]="{'email':'Email should be a valid mail'}">
            </form-validation>
          </div>
        </div> -->

        <!-- <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <mat-form-field>
              <input matInput [(ngModel)]="user.password" placeholder="New Password" type="password" name="password"
                #password="ngModel" [pattern]="validationSer.patterns.password" required>
            </mat-form-field>
            <form-validation [name]="password" [errorMessages]="{'pattern':'Password must contain at least one uppercase character, one lowercase character and one number'}">
            </form-validation>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <mat-form-field>
              <input matInput [(ngModel)]="user.password_confirmation" placeholder="Repeat Password" type="password"
                name="repeatPassword" #repeatPassword="ngModel" required>
            </mat-form-field>
            <form-validation [name]="repeatPassword" [errorMessages]="{'pattern':'PASSWORD_MATCH'}">
            </form-validation>
          </div>
        </div> -->



        <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <mat-form-field>
              <!-- <input matInput [(ngModel)]="user.email" placeholder="Email Address" type="email" name="email" #email="ngModel"
                [pattern]="validationSer.patterns.email" required> -->
              <input matInput placeholder="Email Address" formControlName="email" />

            </mat-form-field>
            <!-- <form-validation [name]="email" [errorMessages]="{'email':'Email should be a valid mail'}">
            </form-validation> -->
            <!-- <span class="text-danger" *ngIf="errors.email">
              {{ errors.email }}
            </span> -->

            <!-- <mat-error *ngIf="form.controls.email.invalid && form.controls.email.errors.required">
              Email Field is required
            </mat-error> -->
            <mat-error *ngIf="form.controls.email.invalid && form.controls.email.errors.pattern">
              Enter a valid Email
            </mat-error>

          </div>
        </div>


        <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <mat-form-field>
              <input matInput placeholder="New Password" type="password" formControlName="password" required />
            </mat-form-field>
            <br>
            <span class="text-danger" *ngIf="errors.password">
              {{ errors.password }}
            </span>
          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <mat-form-field>
              <input matInput placeholder="Confirm New Password" type="password" formControlName="confirmPassword"
                required />
            </mat-form-field>
            <br>
            <span class="text-danger" *ngIf="errors.confirmPassword">
              {{ errors.confirmPassword }}
            </span>
          </div>
        </div>

        <div class="row justify-content-center align-items-center mt-2">
          <div class="col-xs text-xs-center">
            <button type="submit" [disabled]="resetPassForm.form.invalid" mat-raised-button color="accent">
              Update Your Password
            </button>
          </div>
        </div>

        <div class="row justify-content-center align-items-center mt-3">
          <div class="col">
            <a mat-button [routerLink]="['application/public/login']">Back to login</a>
          </div>
        </div>
      </div>
    </form>
    <div class="row text-xs-center justify-content-center align-items-center my-2 mx-2" *ngIf="isSubmitting">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </mat-card-content>
</mat-card>