<section class="container-fluid h-100 ">
  <div class="row h-100 justify-content-center ">


    <!-- <div color="primary" class="col-10 col-md-6 col-lg-4">
    </div> -->
    <router-outlet ></router-outlet>

        <!-- <mat-toolbar style="background-color:transparent;">
      <button mat-button (click)="goBack()"><mat-icon>arrow_back</mat-icon> back</button>

      <div class="ml-auto d-flex align-items-center">
        <language-switcher></language-switcher>
        <theme-switcher [selectedTheme]="appService.appTheme" (onSelectTheme)="appService.setTheme($event)"></theme-switcher>
      </div>
    </mat-toolbar> -->
  </div>
</section>