
<mat-sidenav-container class="h-100">

  <mat-sidenav class="h-100" #drawer 
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" class="sidenav" [attr.role]="'navigation'" [mode]="'side'" [opened]="true">

    <mat-toolbar color="primary">
        <button mat-button routerLink="" class="">
          App Layout
        </button>
        <span class="spacer"></span>
      </mat-toolbar>



  </mat-sidenav>


  <mat-sidenav-content class="d-flex flex-column">
    
      <div id="page-content">
          <mat-toolbar color="primary">
              <!-- <button mat-button routerLink="" class="">
                Nested Master Detail
              </button> -->
              <span class="spacer"></span>
            </mat-toolbar>
        <div *ngIf="isHandset$ | async" class="toggleRight">
          <button class="float-right" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon fontSet="fa" fontIcon="fa-bars"></mat-icon>
          </button>
        </div>
    <router-outlet></router-outlet>

      </div>

      <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
          <div class="container text-center">
            <small>Copyright &copy; ngStarter</small>
          </div>
        </footer>
        

  </mat-sidenav-content>
</mat-sidenav-container>
