.divider {
  color: #cacaca !important;
  font-size: 15px;
}

ul.breadcrumbs li {
  line-height: 0;
}

button.mat-menu-item {
  line-height: 26px !important;
  height: 32px !important;
  font-size: 14px;
}

ul.breadcrumbs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
