.active {
    background-color: rgb(196, 196, 196);
    .icon-holder  {
        background-color: #ffffff;
    }
}

.icon-holder {
    background-color: #F5F5F5;
    border-radius: 50%;
    padding: 7px 0 0 0;
    text-align: center;
    width: 40px;
    height: 40px;

}

.sub-menu {
    background-color: #F5F5F5;
}