<section class="container-fluid w-100 mt-4 p-0">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">

    </div>
  </div>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-6 col-lg-4">
      <mat-card class="text-center p-5" color="primary">
        <i style="font-size:55px;" class="px-5 mb-2 material-icons" [hidden]="isSubmitting || requestStatus"> account_circle </i>
        <mat-card-content>
          <form #updateForm="ngForm" (ngSubmit)="updateUser($event)" [hidden]="isSubmitting">
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-12">
                  <mat-form-field>
                    <input matInput [(ngModel)]="user.email" (ngModelChange)="invalidCredentials=false" placeholder="Email" type="text"
                      name="email" #email="ngModel" [pattern]="validationSer.patterns.email" required>
                  </mat-form-field>
                  <form-validation [name]="email" [errorMessages]="{'pattern':'Please enter a valid email address'}">
                  </form-validation>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12">
                  <mat-form-field>
                    <input matInput [(ngModel)]="user.first_name" (ngModelChange)="invalidCredentials=false" placeholder="First Name" type="text"
                      name="first_name" #first_name="ngModel" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12">
                  <mat-form-field>
                    <input matInput [(ngModel)]="user.last_name" (ngModelChange)="invalidCredentials=false" placeholder="Last Name" type="text"
                      name="last_name" #last_name  ="ngModel" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-12">
                  <mat-form-field>
                    <input matInput [(ngModel)]="user.phone_number" (ngModelChange)="invalidCredentials=false" placeholder="Phone Number" type="text"
                      name="phone_number" #phone_number="ngModel" [pattern]="validationSer.patterns.phone_number" required>
                  </mat-form-field>
                  <form-validation [name]="phone_number" [errorMessages]="{'pattern':'Please enter a valid phone number'}">
                  </form-validation>
                </div>
              </div>
              <div class="row justify-content-center align-items-center mt-2">
                <div class="col-xs text-xs-center">
                  <button type="submit" [disabled]="updateForm.form.invalid" mat-raised-button color="accent">
                    Update Profile
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row text-xs-center justify-content-center align-items-center my-2 mx-2" *ngIf="isSubmitting">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
